
.container.desktop-window.container-height-js
    .item.boxx(data-btn="1" style="bottom: 0; left: 10px;")
        .shortcut
            img.shortcut__img(src="./img/folder.png", alt="")
            p showreel.mp4
    .item.boxx(data-btn="2" style="top: 190px; left: 90px;")
        .shortcut
            img.shortcut__img(src="./img/folder.png", alt="")
            p Надо докрутить
    .item.boxx(data-btn="3" style="top: 180px; left: 180px;")
        .shortcut
            img.shortcut__img(src="./img/folder.png", alt="")
            p кейсы
    .item.boxx(data-btn="6" style="bottom: 90px; right: 90px;")
        .shortcut
            img.shortcut__img(src="./img/folder.png", alt="")
            p бекстейдж.mov
    .item.boxx(data-btn="7" style="top: 30px; left: 30px;")
        .shortcut
            img.shortcut__img(src="./img/folder.png", alt="")
            p привет






    .item.window.window--picture.window--small(data-window="6" style="top:40%;left:40%;")
        .title-bar
            .btn-bar
                button.close-btn
                button.minimize
                button.maximize
            .window__name бекстейдж.mov
        .window-body
            .loader
                svg(width="50" height="50")
                    circle.track-big(cx="25" cy="25" r="22")
                    circle.progress-big(cx="25" cy="25" r="22")
            .window__picture
                img.window__img(src="./img/picture3.jpg", alt="")

    .item.window.window--picture.window--medium(data-window="2" style="top:50%;right:20%;")
        .title-bar
            .btn-bar
                button.close-btn
                button.minimize
                button.maximize
            .window__name Надо докрутить
        .window-body
            .window__picture
                img.window__img(src="./img/picture1.jpg", alt="")

    .item.window.window--picture.window--big(data-window="1" style="top:10%;left:35%;")
        .title-bar
            .btn-bar
                button.close-btn
                button.minimize
                button.maximize
            .window__name showreel.mp4
        .window-body
            .window__vid
                iframe.window__img(id="" src="https://player.vimeo.com/video/453665971?title=0&byline=0&portrait=0&autoplay=0&muted=0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)

    .item.window.window--hellow(data-window="7" style="top:20px;left:20px;")
        .title-bar
            .btn-bar
                button.close-btn
                button.minimize
                button.maximize
            .window__name привет
        .window-body
            p 👋 Привет!
            p Мы агентство креативных коммуникаций. Создаем сильные идеи для сильных брендов.

    .item.window(data-window="3" style="top:20%;left:5%;")
        .title-bar
            .btn-bar
                button.close-btn
                button.minimize
                button.maximize
            .window__name кейсы
        .window-body
            ul.window__list
                li.window__item
                    a.window__link(href="")
                        .window__item-row
                            .window__item-service Конкурс для поддержки самозанятых
                            .window__item-name Сбербанк
                            .window__item-year 2021
                li.window__item
                    a.window__link(href="")
                        .window__item-row
                            .window__item-service SMM-Академия для консультантов
                            .window__item-name Oriflame
                            .window__item-year 2020
                li.window__item
                    a.window__link(href="")
                        .window__item-row
                            .window__item-service Селебрити-менеджмент
                            .window__item-name Точка
                            .window__item-year 2021
                li.window__item
                    a.window__link(href="")
                        .window__item-row
                            .window__item-service Ведение соцсетей
                            .window__item-name FONBET
                            .window__item-year 2021
                li.window__item
                    a.window__link(href="")
                        .window__item-row
                            .window__item-service Полное сопровождение работы
                            .window__item-name Альфа-Банк
                            .window__item-year 2019
                li.window__item
                    a.window__link(href="")
                        .window__item-row
                            .window__item-service Лимитированные серии карт
                            .window__item-name Альфа-Банк
                            .window__item-year 2019

