section.hero.custom-scroll.active.container-height-js
    .hero__inner
        video.hero__bg(autoplay loop muted)
            //- <source src="./static/hh.mp4" type='video/mp4;'>
            //- source(src="./static/bg-dark.mp4" type='video/mp4;')
            source(src="https://github.com/zuevpavel/blacklight/raw/refs/heads/push_pages/docs/static/bg-dark.mp4" type="video/mp4;")
        .hero__main.box
            .hero__column
                h1.hero__title Делаем только то, что нас драйвит:
                ul.hero__tags
                    li.hero__tags-item стратегия
                    li.hero__tags-item креатив
                    li.hero__tags-item пиар
                    li.hero__tags-item инфлюенс-маркетинг
                    li.hero__tags-item видео
                    li.hero__tags-item новые медиа
                    li.hero__tags-item брендинг
                    li.hero__tags-item дизайн
            .hero__column.hero__column--right
                h2.hero__title.hero__title--green Сложные задачи Смелый креатив Скорость
                .hero__info
                    .hero__descr
                        p Работаем в паре «агентство + клиент»,<br> потому что в коллаборации получается лучший результат.
                        p Мы не придумываем креатив ради креатива и всегда несем ответственность за свои идеи.
                        p Это наша суперсила.
                    button.hero__btn(class="modal-btn" data-path="first" data-animation="fadeInUp" data-speed="500") назначить встречу
        .hero__bottom.box
            a.hero__link(href="tel:+74993403383") +7 499 000 00 00
                svg(width="18" height="18")
                    use(xlink:href="#phone-icon")
            a.hero__link(href="mailto:info@info.info") info@info.info
                svg(width="18" height="18")
                    use(xlink:href="#email-icon")
            a.hero__link(href="https://maps.app.goo.gl/K6podTgKG5czVYjC7" target="_blank") г.Москва. Красная площадь, 00 стр 00, офис 000
                svg(width="18" height="18")
                    use(xlink:href="#location-icon")
