.modal
    .modal__container(data-target="first")
        button.modal-close
        .modal__content
            .modal__logo
                a.header__logo-link(href="/#")
                    img.logo-contact(src="./img/logo-contact.svg", alt="" width="109" height="109")

            .modal__name
                a.header__logo-link(href="/#")
                    svg.header__logo-img(width="94" height="20")
                        use(xlink:href="#logo-icon")
            .modal__contact
                //- .hero__bottom.box
                a.hero__link(href="tel:+74993403383") +7 499 000 00 00
                    svg(width="18" height="18")
                        use(xlink:href="#phone-icon")
                a.hero__link(href="mailto:info@info.info") info@info.info
                    svg(width="18" height="18")
                        use(xlink:href="#email-icon")
                a.hero__link(href="https://maps.app.goo.gl/K6podTgKG5czVYjC7" target="_blank") г.Москва. Красная площадь, <br>00 стр 00, офис 000
                    svg(width="18" height="18")
                        use(xlink:href="#location-icon")
            .modal__social
                .header__content-item.header__social
                    a.header__social-link(href="/#")
                        svg(width="18" height="16")
                            use(xlink:href="#youtube-icon")
                    a.header__social-link(href="")
                        svg(width="18" height="16")
                            use(xlink:href="#instagram-icon")
                    a.header__social-link(href="")
                        svg(width="18" height="16")
                            use(xlink:href="#facebook-icon")


    .modal__container(data-target="second")
        button.modal-close
        .modal__content
            h2 form
